# Various Datatypes in Python
In Python, we need not declare a datatype while declaring a variable like C or C++


- Numeric Types:	int, float, complex
- Boolean Type:	    bool
- Text Type:     	str
- Sequence Types:	list, tuple, range
- Set Types:    	set, frozenset
- Mapping Type:	    dict
- Binary Types:	    bytes, bytearray, memoryview
- None Type:	    NoneType

## Numeric Data Type

Python numeric data type is used to hold numeric values like;

- int - holds signed integers of non-limited length.
- long- holds long integers(exists in Python 2.x, deprecated in Python 3.x).
- float- holds floating precision numbers and itâ€™s accurate up to 15 decimal places.
- complex- holds complex numbers.

Variable Assignment

Syntax:
<div style="background-color: lightblue; padding: 10px;">
var_name = values
</div>

In [1]:
a=10
a

10

In [2]:
b=205.5
b

205.5

Operation on numeric data types:

Addition

In [3]:
1+1

2

Substraction

In [4]:
4-1

3

Multiplication

In [5]:
2*3

6

Cheack the data type

In [6]:
type(2)

int

In [7]:
type(10.2345)

float

In [8]:
type(100+3j)

complex

## Boolean Data Type

In Python, the boolean data type is represented by the built-in objects 'True' and 'False'.</br>
These objects are instances of the bool class. </br>
Booleans are used extensively in Python for decision making, control flow, and logical operations.

In [9]:
my_str="Anuradha Kumari"

In [10]:
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('A')) #test if string endswith a A
print(my_str.startswith('A')) #test if string startswith A

False
False
False
True
False
False
False
False
True

Boolean and Logical Operators:

- and - returns 'True' if both operands are 'True'
- or - returns 'True' if either operand is 'True'
- not - returns 'True' if the operand is 'False'

AND

In [12]:
True and True

True

In [13]:
True and False

False

In [14]:
False and False

False

OR

In [15]:
True or True

True

In [16]:
True or False

True

In [17]:
False or False

False

NOT

In [18]:
not(True)

False

In [19]:
not(False)

True

## Strings
In Python, a string is a sequence of characters enclosed in single quotes (') or double quotes (").

In [20]:
"Hello"

'Hello'

In [21]:
'Hello'

'Hello'

Declaring a string variable

In [22]:
name="Anuradha Kuamri"

In [23]:
type(name)

str

Accessing individual characters in a string using indexing

In [24]:
first_letter = name[0]
last_letter = name[-1]
print(first_letter)
print(last_letter)

A
i

Slicing a string to extract a substring

In [25]:
substring = name[7:12]
print(substring)

a Kua

Concatenating two strings using the + operator

In [26]:
message = "Hello, " + name + "!"
print(message)

Hello, Anuradha Kuamri!

Formatting strings using f-strings

In [27]:
# Formatting strings using f-strings
age = 25
message = f"My age is {age}."
print(message) # Output: My age is 25.

My age is 25.

Various Ways of Printing

In [28]:
first_name='Anuradha'
last_name='Kumari'

In [29]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Anuradha and last name is Kumari

In [30]:
print("My first name is {first} and last name is {last}".format(last=last_name,first=first_name))

My first name is Anuradha and last name is Kumari

## Sequence Types: list, tuple, range

In Python, sequence types are data types that represent ordered collections of elements.<br/>
The three built-in sequence types in Python are lists, tuples, Strings, and ranges.<br/><br/>
    - Lists: Square brackets [ ]<br/>
    - Tuples: Parentheses ( )<br/>
    - Strings: " "<br/>
    - Ranges: range()<br/>

### Lists:

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.,</br>
Each element or value that is inside of a list is called an item. </br>
Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]</br>

my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

In [31]:
type([])

list

Creating a list

In [32]:
fruits = ['apple', 'banana', 'cherry']

Accessing elements in a list using indexing

In [33]:
first_fruit = fruits[0] # apple
last_fruit = fruits[-1] # cherry
print(first_fruit)
print(last_fruit)

apple
cherry

Modifying a list

In [34]:
fruits.append('orange') # add an element to the end of the list
fruits

['apple', 'banana', 'cherry', 'orange']

In [35]:
fruits.remove('banana') # remove a specific element
fruits

['apple', 'cherry', 'orange']

In [36]:
fruits.pop() # remove the last element from the list
fruits

['apple', 'cherry']

Various Operations that we can perform in List

In [37]:
lst=[1,1,1,2,3,4,4,5]

In [38]:
sum(lst)

21

In [39]:
lst.count(1)

3

In [40]:
len(lst)

8

### Tuple
In Python, a tuple is an ordered collection of elements enclosed in parentheses () separated by commas.</br>
Tuples are immutable, which means they cannot be modified once they are created.</br>
They are also used in situations where the ordering of elements is important, such as in sorting or indexing operations.

Creating a tuple

In [41]:
my_tuple = (1, 2, 3)

Accessing elements in a tuple

In [42]:
first_element = my_tuple[0] # 1

Iterating over a tuple using a for loop

In [43]:
my_tuple_2 = (4, 5, 6)
concatenated_tuple = my_tuple + my_tuple_2 # (1, 2, 3, 4, 5, 6)
concatenated_tuple

(1, 2, 3, 4, 5, 6)

Unpacking a tuple
Unpacking a tuple in Python involves assigning the elements of a tuple to individual variables in a single statement. This is a convenient way to extract values from a tuple and assign them to corresponding variables.

In [44]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

## Sets
In Python, a set is an unordered collection of unique elements enclosed in curly braces ({}).</br>
Sets are mutable, which means they can be modified by adding or removing elements.</br>
Python's set class represents the mathematical notion of a set.</br>
This is based on a data structure known as a hash table </br></br>
Sets: Curly braces {}

Creating a set

In [45]:
fruits = {'apple', 'banana', 'cherry'}

Adding and removing elements from a set

In [46]:
# Adding an element to a set
fruits.add('orange')

# Removing an element from a set
fruits.remove('banana')
fruits

{'apple', 'cherry', 'orange'}

Checking if an element is in a set

In [47]:
if 'apple' in fruits:
    print('The set contains apple')

The set contains apple

set operations such as union, intersection, and difference

In [48]:
# Creating two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union of two sets
union = set1.union(set2) # {1, 2, 3, 4, 5}

# Intersection of two sets
intersection = set1.intersection(set2) # {3}

# Difference of two sets
difference = set1.difference(set2) # {1, 2}

Iterating over a set using a for loop

In [49]:
for fruit in fruits:
    print(fruit)

orange
cherry
apple

## Dictonaries
In Python, a dictionary is an unordered collection of key-value pairs enclosed in curly braces ({}).</br>
Dictionaries are mutable and can be modified by adding, removing, or changing key-value pairs.</br>
Keys in a dictionary must be unique and immutable, while values can be of any data type.

Creating a dictionary

In [50]:
person = {'name': 'John', 'age': 30, 'gender': 'male'}

Accessing values in a dictionary using keys

In [51]:
Name = person['name']
Age = person.get('age',0)

print(Name)
print(Age)

John
30

Modifying a dictionary

In [52]:
person['age'] = 31 # change the value of a key
person['occupation'] = 'programmer' # add a new key-value pair
del person['gender'] # remove a key-value pair

Iterating over a dictionary using a for loop

In [53]:
for key, value in person.items():
    print(key, value)

name John
age 31
occupation programmer

Checking if a key is in a dictionary

In [54]:
if 'name' in person:
    print('The dictionary contains a name key')

The dictionary contains a name key