<h1>Exercise: On List</h1>

Let us say your expense for every month are listed below,

    January - 2200
    February - 2350
    March - 2600
    April - 2130
    May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list
based on this

In [108]:
expenses=[2200, 2350, 2600, 2130, 2190]

1. In Feb, how many dollars you spent extra compare to January?

In [109]:
expenses_difference=expenses[1]-expenses[0]
print("The difference between the expenses in first and second month is: ",expenses_difference)

The difference between the expenses in first and second month is:  150

2. Find out your total expense in first quarter (first three months) of the year.

In [110]:
sum(expenses[0:2])
print("The total expenses in first there months is: ",sum(expenses[0:2]))

The total expenses in first there months is:  4550

3. Find out if you spent exactly 2000 dollars in any month

In [111]:
for i in expenses:
    if i==2000:
        print(i,"this value is equal to 2000")
    else:
        print(i,"this value is not equal to 2000")

2200 this value is not equal to 2000
2350 this value is not equal to 2000
2600 this value is not equal to 2000
2130 this value is not equal to 2000
2190 this value is not equal to 2000

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [112]:
expenses.append(1980)
print("The expenses in June month is: ",expenses[5])

The expenses in June month is:  1980

5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list
based on this

In [113]:
expenses[3]=expenses[3]-200
print("The expenses in April month is: ",expenses[3])

The expenses in April month is:  1930


You have a list of your favourite marvel super heros.

In [114]:
heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with Doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

1. Length of the list

In [115]:
print("Length of the heros list is", len(heros))

Length of the heros list is 5

2. Add 'black panther' at the end of this list

In [116]:
heros.append('black panther')

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [117]:
# removing the black panther from the list 
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [118]:
# adding black panther at 3rd position
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with Doctor strange (because he is cool).
   Do that with one line of code.

In [119]:
#removing thor and hulk from the list
heros.remove('thor')
heros.remove('hulk')
print(heros)

['spider man', 'black panther', 'iron man', 'captain america']

In [120]:
#adding Dr. Strange at the place of thor
heros.insert(1,'Doctor Strange')
print(heros)

['spider man', 'Doctor Strange', 'black panther', 'iron man', 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [121]:
heros.sort()    
print(heros)

['Doctor Strange', 'black panther', 'captain america', 'iron man', 'spider man']

The above code first CAP case get short then rest. To solve this problem we will use <b>"lower Function"</b> this will ignore the case of the list element and sort them in alphabetical order.

In [122]:
# To ignore the case we have to use lower function
heros.sort(key=str.lower)
print(heros)

['black panther', 'captain america', 'Doctor Strange', 'iron man', 'spider man']